---
layout: default
active: press
---

<main id="press">
  {% for post in site.posts %}
    {% if post.type == "article" %}
      <section class="{% cycle 'odd', 'even' %}">
        <hr>
        <div class="info">
          <a href="{{ post.url | prepend: site.baseurl }}.html">
            <h1>{{ post.title }}</h1>
          </a>
          <p>{{ post.subtitle1 }}</p>
          <p>{{ post.subtitle2 }}</p>
          <p>{{ post.location }}</p>
          <p>{{ post.date_fr }}</p>
        </div>
        <!-- <a class="voir" href="{{ post.url | prepend: site.baseurl }}.html">Voir +</a> -->
        <div class="poster">
          <a class="img" href="{{ post.url | prepend: site.baseurl }}.html">
            <img src="{{ site.baseurl }}/img/{{ post.img_folder }}/{{ post.poster }}" alt="Image de presentation">
          </a>
        </div>
      </section>
    {% endif %}
  {% endfor %}
</main>

<!-- <main id="press">
  {% for article in site.data.articles %}
    <section>
      <h1>{{ article.title }}</h1>
      <span>{{ article.description }}</span>
      {% for i in (1..99) %}
        {% if forloop.index > article.img_num %}
          {% break %}
        {% else %}
          {% if article.link == "none" %}
            <img src="{{ site.baseurl }}/img/press/{{ article.img_folder }}/{{ i }}.jpg" alt="{{ article.description }}">
          {% else %}
            <a href="{{ article.link }}">
              <img src="{{ site.baseurl }}/img/press/{{ article.img_folder }}/{{ i }}.jpg" alt="{{ article.description }}">
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>
  {% endfor %}
</main> -->
