---
layout: default
active: projects
---

<main id="projects">
  {% for post in site.posts %}
    {% if post.type == "projet" %}
    <section class="{% cycle 'odd', 'even' %}">
      <hr>
      <div class="info">
        <a href="{{ post.url | prepend: site.baseurl }}.html">
          <h1>{{ post.title }}</h1>
        </a>
        <p>{{ post.location }}</p>
        <p>{{ post.date | date: "%-d %b %Y" }}</p>
      </div>
      <!-- <a class="voir" href="{{ post.url | prepend: site.baseurl }}.html">Voir +</a> -->
      <div class="poster">
        <a class="img" href="{{ post.url | prepend: site.baseurl }}.html">
          <img src="{{ site.baseurl }}/img/{{ post.img_folder }}/{{ post.poster }}" alt="Image de presentation">
        </a>
      </div>
    </section>
  {% endif %}
{% endfor %}
</main>
