<footer></footer>


<script src="{{ site.baseurl }}/js/jquery-3.1.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-sprockets.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap/affix.js"></script>
<script src="{{ site.baseurl }}/js/baguetteBox.js" async></script>
<script src="https://use.fontawesome.com/74f7e42bdd.js"></script>
<script>
window.onload = function() {
    baguetteBox.run('.gallery');
    };
;</script>
<script src="{{ site.baseurl }}/js/custom.js"></script>
