---
layout: default
active: post
---


<main id="post">
  <h2>{{ page.description }}</h2>
  <header>
    <h1>{{ page.title }}</h1>
    <span>{{ page.location }}</span>
    <span>{{ page.date | date: "%-d %b %Y" }}</span>
  </header>
  <div class="gallery images">
    {% for i in (1..99) %}
      {% if forloop.index > page.img_num %}
        {% break %}
      {% else %}
        <a class="img" href="{{ site.baseurl }}/img/{{ page.img_folder }}/{{ i }}.jpg">
          <img src="{{ site.baseurl }}/img/{{ page.img_folder }}/{{ i }}.jpg" alt="image"/>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="gallery before">
    <hr>
    <h1>Avant</h1>
    {% for i in (1..99) %}
      {% if forloop.index > page.before_num %}
        {% break %}
      {% else %}
        <a class="img" href="{{ site.baseurl }}/img/{{ page.img_folder }}/before/{{ i }}.jpg">
          <img src="{{ site.baseurl }}/img/{{ page.img_folder }}/before/{{ i }}.jpg" alt="image" />
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="links">
    <hr>
    {% if page.type == "fini" %}
      <h1 id="other-title">Autres Réalisations</h1>
    {% elsif page.type == "projet" %}
      <h1 id="other-title">Autres Projets</h1>
    {% endif %}
    {% for post in site.posts %}
      {% if post.title != page.title and post.type == page.type %}
        <a id="{{ post.img_folder }}" href="{{ post.url | prepend: site.baseurl }}.html">
          <img src="{{ site.baseurl }}/img/{{ post.img_folder }}/couverture.jpg" alt="{{ post.title }}">
        </a>
      {% endif %}
    {% endfor %}

  </div>

</main>
{% for post in site.posts %}
  {% if page.type == "fini" %}
    <script>
      document.getElementById("{{ post.img_folder }}").onmouseover = function() {mouseOver{{ post.img_folder }}()};
      document.getElementById("{{ post.img_folder }}").onmouseout = function() {mouseOut{{ post.img_folder }}()};

      function mouseOver{{ post.img_folder }}() {
          document.getElementById("other-title").innerHTML = "Autres Réalisations: {{ post.title }}";
      }

      function mouseOut{{ post.img_folder }}() {
          document.getElementById("other-title").innerHTML = "Autres Réalisations";
      }
    </script>
  {% elsif page.type == "projet" %}
    <script>
      document.getElementById("{{ post.img_folder }}").onmouseover = function() {mouseOver{{ post.img_folder }}()};
      document.getElementById("{{ post.img_folder }}").onmouseout = function() {mouseOut{{ post.img_folder }}()};

      function mouseOver{{ post.img_folder }}() {
          document.getElementById("other-title").innerHTML = "Autres Projets: {{ post.title }}";
      }

      function mouseOut{{ post.img_folder }}() {
          document.getElementById("other-title").innerHTML = "Autres Projets";
      }
    </script>
  {% endif %}
{% endfor %}












<!-- <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article> -->
